.left img{
    height: 15vh;
   padding: 1rem;
}
.right .btn{
    border-radius: 50%;
    border-color: black;
}
/* .container-fluid .img{
    height:4rem;
    width: 5rem;
} */
.card img{
    height: 30vh;
}






